:root {
  --lightModeBG: linear-gradient(#A4E762,#355A24);
  --darkModeBG: linear-gradient(#444746,#151615);
  --gardenBG: linear-gradient(#7FECF3, #6FC08A,#266907);
  --brownBox: rgba(224, 171, 108, 0.8);
  --lightBrownBox: #EBCB8B;
  --grayBox: rgba(112, 125, 124, 0.38);
  --lightModeTextBubble: #ECEFF4;
  --textAlmond: #F9FBE8;
  --textGreen: #1E4418;
  --textGray: #444444;
  --textYellow: #FDED5E;
  --textWhite: #ECEFF4;
  --textBlue: #88C0D0;
  }

.App {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: var(--lightModeBG);
  font: var(--textGreen);
  position: fixed;
  padding:0;
  margin:0;
  
  top:0;
  left:0;
  
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  overflow-y: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}