/* Let's try to remove this :root by moving css variables into MUI components that consume our theme instead...REMOVE THESE EVENTUALLY!! */
.App {
  background-size: cover;
  background-position: center;
  position: fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  overflow-y: auto;
}