.App {
  background-size: cover;
  background-position: center;
  position: fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  overflow-y: auto;
}

.screen-appear {
  opacity: 0;
}

.screen-appear-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.screen-enter {
  opacity: 0;
}

.screen-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.screen-exit {
  opacity: 1;
}

.screen-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}