.App {
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUVVvKMEEi-oFraigsF71TyJYhrE2dIFnVhA&usqp=CAU);
  background-size: cover;
  background-position: center;
  background-color: #b53653;
  background-repeat: no-repeat;
  position: fixed;
  padding:0;
  margin:0;
  
  top:0;
  left:0;
  
  width: 100%;
  height: 100%;
  z-index: 100; /* Just to keep it at the very top */
  background-attachment: scroll;
  overflow-y: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}