.App {
  text-align: center;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUVVvKMEEi-oFraigsF71TyJYhrE2dIFnVhA&usqp=CAU);
  background-size: cover;
  background-position: center;
  background-color: #b53653;
  background-repeat: no-repeat;
  position: fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  overflow-y: auto;
}

