<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steam OpenId Test</title>
</head>
<body>
{% if user.is_authenticated %}
    {% comment %} <a href="{% url "Kusa:logout" %}">Logout</a>
    <br>
    Hello, {{ user.personaname }} !
    Your id is {{ user.id }} .  {% endcomment %}
    <meta http-equiv="refresh" content="0; URL=http://localhost:3000/emailform/{{ user.id }}" />
{% else %}
    {% comment %} <a href="{% url "social:begin" "steam" %}">Sign in with Steam</a> {% endcomment %}
    <meta http-equiv="refresh" content="1; URL={% url "social:begin" "steam" %}" />
{% endif %}
</body>
</html>