.conversation {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(249, 251, 232);
    border-radius: 5px;
  }

  .conversation:active {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
  }
  
  .conversation:hover {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
  }
  
  .conversationImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .conversationName {
    font-weight: 500;
  }
  
  @media screen and (max-width: 768px) {
    .conversationName {
      display: none;
    }
  }